/*FUENTES*/
@font-face {
    font-family: "Notable";
    src: url(font/Notable/Notable-Regular.ttf);
}
@font-face {
    font-family: "Playfair-variable";
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Playfair-italic";
    src: url(font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "playfair-static";
    src: url(font/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}
@font-face {
    font-family: "Titan-One-Regular";
    src: url(font/Titan_One/TitanOne-Regular.ttf);
}
@font-face {
    font-family: "Titan_One";
    src: url(font/TitanOne/TitanOne-Regular.ttf);
}
/*VARIBLES DE COLORES Y FUENTES*/
:root{
    --color-fondo: #D1D1D1;
    --color-fuente: #0000ff;
    --color-sombra: #000000;
    --color-hover-uno: #0004f3;
    --colo-hover-dos: #ebfc04;
}
/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: var(--color-fondo);
}
.menu_header{
    display: flex;
    align-items: center;
    color: var(--color-sombra);
    margin-left: 5%;
    margin-top: 2%;
    font-family: "Playfair-variable";
    font-size: 20px;
    font-weight: bold;
    gap: 25px;
    cursor: pointer;
}
.menu_header:hover{
    color: var(--color-hover-uno);
    transition: all 500ms;
}
.menu_header img{
    width: 20px;
}
ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: var(--color-sombra);
}

.menu_list{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: -28px;
    justify-content: flex-end;
    margin-right: 55px;
    gap: 15px;
    font-family: "Playfair-variable";
    transition: all 800ms;
    scroll-behavior: smooth;
}

.menu_list a:hover{
    color: var(--color-hover-uno);
    transition: all 500ms;
}


/*SECCION DE TITULO Y REDES SOCIALES*/
.title{
    display: flex;
}
.foto_men{
    float: inline-end;
    margin-right: 50px;
    margin-top: 5%;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.title_bio{
    display: flex;
    margin-top: 3%;
    font-size: 50px;
    padding: 47px;
    cursor: pointer;
    color: var(--color-fuente);
    align-items: center;
    justify-content: center;
    font-family: "Titan-One-Regular";
}
.title_subsection{
    display: flex;
    padding: 27px;
    font-size: 24px;
    margin-top: -2%;
    margin-left: 1%;
    font-weight: bold;
    justify-content: left;
    font-family: "playfair";
}
.title_network{
    display: flex;
    justify-content: center;
    gap: 55px;
}
.title_network img{
    height: 40px;
}
/* .overline{
    font-weight: bold;
    color: var(--color-fuente);
    font-family: "Playfair-variable";
    font-size: 20px;
} */
.title_network {
    text-align: center;
}
.title_network a img:hover{
    color: var(--colo-hover-dos);
    -webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-6 13:22:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
    }
    40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    }
    50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
    }
    65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
    }
    75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
    }
    40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    }
    50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
    }
    65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
    }
    75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
}
/*SECCION SOBRE MI*/
.about{
    display: flex;
    height: auto;
    margin-top: 90px;
    color: var(--color-fondo);
    margin-bottom: 35px;
    background: var(--color-fuente);
}

.about_title{
    display: flex;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: center;
    font-family: "Titan-One-Regular";
}

.about__paragraph{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5%;
    text-align: justify;
    font-family: "Playfair-variable";
}
/*SECCION SE SKILLS*/
.skills{
    border: 2px solid #000000;
    margin-bottom: 50px;
    margin-top: -38px;
}
.skills__line{
    display: flex;
    gap: 50px;
}
.skills__box{
    display: flex;
    border: 5px solid #0000ff;
}