/*FUENTES*/
@font-face {
    font-family: "Notable";
    src: url(font/Notable/Notable-Regular.ttf);
}

@font-face {
    font-family: "Playfair-variable";
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair-italic";
    src: url(font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "playfair-static";
    src: url(font/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: "Titan-One-Regular";
    src: url(font/Titan_One/TitanOne-Regular.ttf);
}

@font-face {
    font-family: "Titan_One";
    src: url(font/TitanOne/TitanOne-Regular.ttf);
}

/*VARIBLES DE COLORES Y FUENTES*/
:root {
    --color-fondo: #D1D1D1;
    --color-fuente: #0000ff;
    --color-sombra: #000000;
    --color-hover-uno: #0004f3;
    --colo-hover-dos: #a71ec9;
}

/*ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.skills__title,
.hobbies_title {
    display: flex;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: center;
    font-family: "Titan-One-Regular";
}

/*----------------------------*/
.menu_header {
    display: flex;
    align-items: center;
    color: var(--color-sombra);
    margin-left: 5%;
    margin-top: 2%;
    font-family: "Playfair-variable";
    font-size: 20px;
    font-weight: bold;
    gap: 25px;
    cursor: pointer;
}

.menu_header:hover {
    color: var(--color-hover-uno);
    transition: all 500ms;
}

.menu_header img {
    width: 20px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--color-sombra);
}

.menu_list {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: -28px;
    justify-content: flex-end;
    margin-right: 55px;
    gap: 15px;
    font-family: "Playfair-variable";
    transition: all 800ms;
    scroll-behavior: smooth;
}

.menu_list a:hover {
    color: var(--color-hover-uno);
    transition: all 500ms;
}


/*SECCION DE TITULO Y REDES SOCIALES*/
.title {
    display: flex;
}

.foto_men {
    float: inline-end;
    margin-right: 50px;
    margin-top: 5%;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.title_bio {
    display: flex;
    margin-top: 3%;
    font-size: 50px;
    padding: 47px;
    cursor: pointer;
    color: var(--color-fuente);
    align-items: center;
    justify-content: center;
    font-family: "Titan-One-Regular";
    transition: all 800ms;
}



.title_subsection {
    display: flex;
    padding: 27px;
    font-size: 24px;
    margin-top: -2%;
    margin-left: 1%;
    font-weight: bold;
    justify-content: left;
    font-family: "playfair";
}

.title_network {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.title_network img {
    height: 40px;
}

.title_network {
    text-align: center;
}

.title_network a img:hover {
    color: var(--colo-hover-dos);
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
}

/*SECCION SOBRE MI*/
.about {
    display: flex;
    height: auto;
    margin-top: 90px;
    color: var(--color-fondo);
    margin-bottom: 35px;
    background: var(--color-fuente);
    transition: all 500ms;
}

.about_title {
    display: flex;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: center;
    font-family: "Titan-One-Regular";
}

.about__paragraph {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5%;
    text-align: justify;
    font-family: "Playfair-variable";
}

/*SECCION SE SKILLS*/
.skills,
.hobbies {
    margin-bottom: 50px;
}

.skills__line {
    gap: 50px;
    display: flex;
    margin-bottom: 50px;
}

.skills__box {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 15px;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 8px 8px 1px var(--color-hover-uno);
}

.skills__box:hover {
    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.skills__img img {
    display: flex;
    width: 50px;
}

.html,
.css,
.JavaScript,
.react,
.php,
.java {
    margin: 0px auto;
    margin-top: 65px;
}

.html_img,
.css_img,
.js_img,
.react_img,
.php_img,
.java_img {
    margin: 0px auto;
}

.name {
    display: flex;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-sombra);
    font-family: "Titan-One-Regular";
}

/*SECCION DE HOBBIES*/
.hobbies_line {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobbies_box {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 15px;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 8px 8px 1px var(--color-hover-uno);
}

.hobbies_box:hover {
    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


.hobbies_img img {
    display: flex;
    width: 60px;
}

.foto,
.pintura,
.music,
.game,
.museu,
.fut {
    margin: 0px auto;
    margin-top: 65px;
}

.camara_img,
.paint_img,
.music_img,
.games_img,
.museo_img,
.futbool_img {
    margin: 0px auto;
}